$primary-color: #fff;
$primary-color-element : #660547;
$secondary-color-element: #F6F6F6;
$background-color-footer : rgba(0, 0, 0, 1);


$shadows:(
    btn-dark : (
        0px 4px 10px rgba(0, 0, 0, 0.35)
    ), 
);