.footer{
    background-color: $background-color-footer;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__p {
        width: 35%;
        margin: 64px 0px;
        font-size: 20px;
        font-weight: 500;
        align-self: center;
        text-align: center;
        color: $primary-color;
        @media (max-width: 670px) {
            font-size: 12px;
        }
    }
}
.fa-regular {
    margin: 0px 8px;
}
